div {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

li {
  width: 250px;
  height: 340px;
  border-radius: 15px;
  border: 1px solid rgba(22, 22, 22, 0.164);
  padding-bottom: 5px;
}

.pictures {
  height: 150px;
  padding: 15px 50px 0 50px;
}

.card-page-title {
  padding: 12px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-page-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0 0 10px;
  gap: 5px;
}

.card-page-rating > img {
  height: 25px;
}

.card-page-rating > p {
  font-weight: 600;
}

.price-cents {
  padding: 12px 0 0 10px;
  font-weight: 700;
}

.container {
  padding: 12px 0 0 10px;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 40px;
  margin: 12px 25px 0 25px;
  background-color:greenyellow;
  color: #000;
  border: none;
  cursor: pointer;
}
